##################################################################################################
#This file created by Huy Nguyen
#Updated date: 6/30/2024
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
  // Register
  register_default_value_test, run_times=1, run_opts= ;
  register_read_write_test, run_times=1, run_opts= ;
  register_reset_test, run_times=1, run_opts= ;
  register_reserved_test, run_times=1, run_opts= ;

  // TX - 16x
    // data_width
  TX_16x_5bits_data_test, run_times=1, run_opts= ;
  TX_16x_6bits_data_test, run_times=1, run_opts= ;
  TX_16x_7bits_data_test, run_times=1, run_opts= ;
  TX_16x_8bits_data_test, run_times=1, run_opts= ;
    // parity_mode
  TX_16x_odd_parity_test, run_times=1, run_opts= ;
  TX_16x_even_parity_test, run_times=1, run_opts= ;
  TX_16x_no_parity_test, run_times=1, run_opts= ;
    // stop_bit
  TX_16x_1_stop_bit_test, run_times=1, run_opts= ;
  TX_16x_2_stop_bit_test, run_times=1, run_opts= ;
    // baud_test
  TX_16x_2400_baud_test, run_times=1, run_opts= ;
  TX_16x_4800_baud_test, run_times=1, run_opts= ;
  TX_16x_9600_baud_test, run_times=1, run_opts= ;
  TX_16x_19200_baud_test, run_times=1, run_opts= ;
  TX_16x_38400_baud_test, run_times=1, run_opts= ;
  TX_16x_76800_baud_test, run_times=1, run_opts= ;
  TX_16x_115200_baud_test, run_times=1, run_opts= ;
  TX_16x_custom_baud_test, run_times=1, run_opts= ;
    // combination
  TX_16x_combination_test, run_times=1, run_opts= ;
  
  // TX - 13x
    // data_width
  TX_13x_5bits_data_test, run_times=1, run_opts= ;
  TX_13x_6bits_data_test, run_times=1, run_opts= ;
  TX_13x_7bits_data_test, run_times=1, run_opts= ;
  TX_13x_8bits_data_test, run_times=1, run_opts= ;
    // parity_mode
  TX_13x_odd_parity_test, run_times=1, run_opts= ;
  TX_13x_even_parity_test, run_times=1, run_opts= ;
  TX_13x_no_parity_test, run_times=1, run_opts= ;
    // stop_bit
  TX_13x_1_stop_bit_test, run_times=1, run_opts= ;
  TX_13x_2_stop_bit_test, run_times=1, run_opts= ;
    // baud_test
  TX_13x_2400_baud_test, run_times=1, run_opts= ;
  TX_13x_4800_baud_test, run_times=1, run_opts= ;
  TX_13x_9600_baud_test, run_times=1, run_opts= ;
  TX_13x_19200_baud_test, run_times=1, run_opts= ;
  TX_13x_38400_baud_test, run_times=1, run_opts= ;
  TX_13x_76800_baud_test, run_times=1, run_opts= ;
  TX_13x_115200_baud_test, run_times=1, run_opts= ;
  TX_13x_custom_baud_test, run_times=1, run_opts= ;
    // combination
  TX_13x_combination_test, run_times=1, run_opts= ;

  // RX - 16x
    // data_width
  RX_16x_5bits_data_test, run_times=1, run_opts= ;
  RX_16x_6bits_data_test, run_times=1, run_opts= ;
  RX_16x_7bits_data_test, run_times=1, run_opts= ;
  RX_16x_8bits_data_test, run_times=1, run_opts= ;
    // parity_mode
  RX_16x_odd_parity_test, run_times=1, run_opts= ;
  RX_16x_even_parity_test, run_times=1, run_opts= ;
  RX_16x_no_parity_test, run_times=1, run_opts= ;
    // stop_bit
  RX_16x_1_stop_bit_test, run_times=1, run_opts= ;
  RX_16x_2_stop_bit_test, run_times=1, run_opts= ;
    // baud_test
  RX_16x_2400_baud_test, run_times=1, run_opts= ;
  RX_16x_4800_baud_test, run_times=1, run_opts= ;
  RX_16x_9600_baud_test, run_times=1, run_opts= ;
  RX_16x_19200_baud_test, run_times=1, run_opts= ;
  RX_16x_38400_baud_test, run_times=1, run_opts= ;
  RX_16x_76800_baud_test, run_times=1, run_opts= ;
  RX_16x_115200_baud_test, run_times=1, run_opts= ;
  RX_16x_custom_baud_test, run_times=1, run_opts= ;
    // combination
  RX_16x_combination_test, run_times=1, run_opts= ;
  
  // RX - 13x
    // data_width
  RX_13x_5bits_data_test, run_times=1, run_opts= ;
  RX_13x_6bits_data_test, run_times=1, run_opts= ;
  RX_13x_7bits_data_test, run_times=1, run_opts= ;
  RX_13x_8bits_data_test, run_times=1, run_opts= ;
    // parity_mode
  RX_13x_odd_parity_test, run_times=1, run_opts= ;
  RX_13x_even_parity_test, run_times=1, run_opts= ;
  RX_13x_no_parity_test, run_times=1, run_opts= ;
    // stop_bit
  RX_13x_1_stop_bit_test, run_times=1, run_opts= ;
  RX_13x_2_stop_bit_test, run_times=1, run_opts= ;
    // baud_test
  RX_13x_2400_baud_test, run_times=1, run_opts= ;
  RX_13x_4800_baud_test, run_times=1, run_opts= ;
  RX_13x_9600_baud_test, run_times=1, run_opts= ;
  RX_13x_19200_baud_test, run_times=1, run_opts= ;
  RX_13x_38400_baud_test, run_times=1, run_opts= ;
  RX_13x_76800_baud_test, run_times=1, run_opts= ;
  RX_13x_115200_baud_test, run_times=1, run_opts= ;
  RX_13x_custom_baud_test, run_times=1, run_opts= ;
    // combination
  RX_13x_combination_test, run_times=1, run_opts= ;

  // Reset on the fly
    // TX
  TX_reset_on_the_fly_test, run_times=1, run_opts= ;
    // RX
  RX_reset_on_the_fly_test, run_times=1, run_opts= ;

  // Interrupt
    // error_parity
  normal_parity_test, run_times=1, run_opts= ;
  error_parity_test, run_times=1, run_opts= ;
    // RX_fifo
  enable_empty_rx_fifo_test, run_times=1, run_opts= ;
  disenable_empty_rx_fifo_test, run_times=1, run_opts= ;
  enable_full_rx_fifo_test, run_times=1, run_opts= ;
  disenable_full_rx_fifo_test, run_times=1, run_opts= ;
    // TX_fifo
  enable_empty_tx_fifo_test, run_times=1, run_opts= ;
  disenable_empty_tx_fifo_test, run_times=1, run_opts= ;
  enable_full_tx_fifo_test, run_times=1, run_opts= ;
  disenable_full_tx_fifo_test, run_times=1, run_opts= ;
  
  // Error handling
  error_reserved_test, run_times=1, run_opts= ;
}
